<div class="about-container">
	<div class="opacity-shield">
		<div class="container">
			<div class="about-info">
				<h3 class="center-align">We're on a mission</h3>
				<p>HigherEd was formed with the idea that a student will learn more if they can engage with the materials. Textbooks aren't cutting it, and we want to make a new platform for teaching. One that brings curiosity to the students and relevance to the material.</p>
			</div>
		</div>	
	</div>
</div>
<div class="team-banner"><h3 class="team-header">Meet our incredible team</h3></div>
<div class="team-content">
	<p>We're passionate educators, innovators, and students. We think that education needs a shakeup, and we're ready to do it. From snowboarding to rock climbing, teachers to programmers, we're a diverse group brought together by a passion for teaching and learning.</p>
</div>
<div class="row">
	<div class="col s6 m4 offset-s3 offset-m4">
		<div class="circle-div image-container profile-headshot">
			<img src="../images/jakedluhy-headshot.jpg">
		</div>
	</div>
</div>
{{partial 'partials/footer'}}