<div class="axis-container">
  {{#paper-button classNames="sub-header" action="toggleAxis" target="view"}}Rotation Axis{{/paper-button}}
  <div class="axis-wrapper option-wrapper">
    {{#if axisIsX}}
      {{single-slider orientation="vertical" action="showAxis" target="view"}}
    {{else}}
      {{single-slider orientation="horizontal" action="showAxis" target="view"}}
    {{/if}}
  </div>
</div>