<div class="cs-shape-selection">
  {{#paper-radio value='square' selected=shape}}Square CS{{/paper-radio}}
  {{#paper-radio value='triangle' selected=shape}}Triangular CS{{/paper-radio}}
  {{#paper-radio value='semicircle' selected=shape}}Semicircular CS{{/paper-radio}}
</div>