<div class="location-container">
	{{#paper-button classNames="sub-header" action="toggleLocation" target="view"}}Derivative Location{{/paper-button}}
  <div class="location-wrapper option-wrapper">
    {{single-slider orientation="horizontal" action="showDerivative" target="view"}}
  </div>
</div> 