<div class="axis-selection">
  {{#paper-radio value=true selected=continuous}}Continuous Function{{/paper-radio}}
  {{#paper-radio value=false selected=continuous}}Discrete Disks{{/paper-radio}}
</div>