<div class="range-container">
  {{#paper-button classNames="sub-header" action="toggleRange" target=view}}Restrict The Function{{/paper-button}}
  <div class="range-wrapper option-wrapper" {{action 'rangeFinished' on='mouseLeave' target="view"}}>
    {{#if axisIsX}}
      {{dual-slider orientation="horizontal" action='dualBoundRestrict' target="view"}}
    {{else}}
      {{dual-slider orientation="vertical" action='dualBoundRestrict' target="view"}}
    {{/if}}
  </div>
</div>