<div id="demos-index-main">
  <div class="container">
    <div class="row">
      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            {{!-- TODO: Replace with some sort of array. Possibly using fixtures? --}}
            {{#link-to 'demos.revolutions'}}<img src="../images/revolutionsDemo.png">{{/link-to}}
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>Revolutions of solids about an axis.</p>
          </div>
        </div>
      </div>
      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            {{#link-to 'demos.integrals'}}<img src="../images/integralsDemo.png">{{/link-to}}
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>Integration of functions, including a demonstration of Riemann Sums.</p>
          </div>
        </div>
      </div>
      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            {{#link-to 'demos.derivatives'}}<img src="../images/derivativesDemo.png">{{/link-to}}
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>Derivatives of functions, showing slopes of lines.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
