$darkPrimary: #388E3C;
$primary: #4CAF50;
$lightPrimary: #C8E6C9;
$accent: #448AFF;
$lightAccent: #42a5f5;

$lightText: #FFFFFF;
$primaryText: #212121;
$secondaryText: #727272;
$divider: #B6B6B6;
$dividerLight: rgb(221, 221, 221);

$whiteBackground: #FFFFFF;
$lightBackground: #ECECEC;
$darkBackground: #DEDEDE;
$darkerBackground: #d0d0d0;
$darkestBackground: #c0c0c0;

// ------------------------

$textcolor: #ddd;
$darkTextcolor: #333;

$silver: #ccc;
$lightSilver: #eee;
$darkSilver: #999;
$darkGray: #444;
$darkgreen: #1b851b;
$green: #20a020;
$vibgreen: #42c900;

$lightTeal: #2ba6cb;
$darkTeal: #2285a2;

$darkestteal: #004852;
$darkteal: #007585;
$teal: #2E8D99;
$darkaqua:#0093a6;
$aqua: #3ab2c2;
