.options-container{
  overflow: auto;
  &.collapsed {
    width:50px;
  }
  &.expanded {
    width: 20%;
  }
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: $lightBackground;
  z-index: 5;
  button {
    border-radius: 0 !important;
  }
  .default-icon {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
    
    i {
      font-size: 30px;
      line-height: 30px;
    }
  }
  .collapse {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-controls {
    button:first-child {
      margin-top: 0;
    }
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
  }
  .controls {
    button:first-child {
      margin: 0;
    }
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .header {
    height: 50px;
    width: 100%;
  }
  .sub-header {
    height: 36px;
    width: 100%;
  }
  .option-wrapper {
    display: none;
  }
  .function-container {
    overflow: hidden;
   @include calc(width, "100% - 30px");
   margin: 15px;
    .function-label {
      float: left;
      padding: 7px 7px 7px 0;
    }
    input.function-input {
      width: 70%;
      height: 30px;
      margin: 0;
      float: left;
    }
  }
  .start-animation {
    width: 100%;
  }
}

.printing-container {
  width: 400px;
  position: absolute;
  top: 0;
  right: -400px;
  @include easeoutTransition(0.5s);
  background-color: $lightBackground;
  button, md-input-group {
    margin: 20px;
  }
  &.active {
    right: 0;
  }
  .retract-printer {
    position: absolute;
    left: 0;
    top: 0;
  }
  .default-icon {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 0px;
    i {
      font-size: 30px;
      line-height: 30px;
    }
  }
}

.block-header {
  margin: 0;
  background-color: $accent;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  padding: 8px 20px;
  font-size: 14px !important;
  height: 50px;
  text-align: center;
}

.function-input-container {
  width: 300px;
  margin: 10px auto;
}
.function-input-container > h4 {
  margin: 10px 0;
}
.function-confirm {
  margin: 10px 0;
}
.primary-container {
  // @include calc(width, "100% - 50px");
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  canvas {
    background-color: $darkBackground;
  }
}